<form [formGroup]="form">
  <label for="">
    Old Password
  </label>
  <input 
  formControlName="oldPass"
  id = "oldPass"
  type="password" class="form-control">
  <div class="alert alert-danger" *ngIf = "oldPass.touched && oldPass.invalid">
    <div *ngIf="oldPass.errors.required">Old Password is required.</div>
    <div *ngIf="oldPass.errors.minlength">Passwords must be longer than 3 characters in length.</div>
    <div *ngIf="oldPass.errors.cannotContainSpace">Passwords cannot contain spaces.</div>
    <div *ngIf="oldPass.errors.passCheckDB">Password is not Correct.</div>
  </div>
  <label for="">New Password</label>
  <input 
  id = "newPass"
  formControlName="newPass" 
  type="password" 
  class="form-control">
  <div class="alert alert-danger" *ngIf = "oldPass.touched && oldPass.invalid">
    <div *ngIf="newPass.errors.required">New Password is required.</div>
    <div *ngIf="newPass.errors.minlength">Passwords must be longer than 3 characters in length.</div>
    <div *ngIf="newPass.errors.cannotContainSpace">Passwords cannot contain spaces.</div>
  </div>
  <label for="">Confirm Password</label>
  <input formControlName ="newPassCheck" 
  type="password" class="form-control">
  <br/>
  <button class="btn btn-primary">Change Password</button>
</form>