/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
*{
    margin-left: 5px;
    margin-top: 5px;
}

.form-control.ng-touched.ng-invalid{
    border: solid red 2px;
}